#clouds {
    height:200px;
    Width:200px;
   position:absolute;
    top:20px;
    right:150px;
}
#intro {
    text-align:center;
     color:white;
     font-size:30px;
     
}
#text-box {
    text-align:center;
    font-size:100%;
}
#introduction {
    background-image: url("http://cdn.wallpapersafari.com/90/27/FTmHkD.jpg");
    background-repeat:no-repeat;
    background-size:cover;

}
#start {
    margin:auto;
    font-size: 50px;
}
#intro {
    width:600px;
    height:200px;
    background-color:gray;
    margin:auto;
    opacity:0.9;
    border-style:solid;
    border-width:5px;
}
#clouds2 {
    height:200px;
    Width:200px;
   position:absolute;
    top:20px;
    left:150px;
}